# load packages

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ───────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ─────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# read in input files

In [2]:
pheno=read.csv('/project/ritchie01/datasets/rosmap/Metadata/ROSMAP_clinical.csv',na.strings=c("","NA"))
head(pheno)

  projid   Study msex educ race spanish apoe_genotype age_at_visit_max
1 10101589 ROS   1    20   1    2       34            90+
2 86767530 MAP   0    10   1    2       33            90+
3  9650662 MAP   0    15   1    2       23            90+
4 50402855 MAP   0    21   1    2       33            90+
5 20544321 ROS   0    16   1    2       23            90+
6 20630946 ROS   0    18   1    2       33            90+
  age_first_ad_dx age_death cts_mmse30_first_ad_dx cts_mmse30_lv pmi
1 90+             90+       18                      5            9.916667
2 90+             90+       18                     10            6.500000
3 90+             90+        0                      0            3.850000
4 NA              NA        NA                     27                  NA
5 90+             NA        13                     14                  NA
6 90+             90+       NA                      0            2.900000
  braaksc ceradsc cogdx dcfdx_lv individualID
1  4       2       4    4        R6939144
2  4       2       4    4        R3893503
3  3       2       4    4        R8937093
4 NA      NA      NA    1        R7139444
5 NA      NA      NA    4        R4971237
6  3       4       4    4        R4859661

In [3]:
id_map=read.csv('/project/ritchie02/projects/AD_KMI/pathway_score/rosmap/ID_mapping/ROSMAP.ALL_WGS.pass_qc.ID_map.txt',sep='\t')
head(id_map)
nrow(id_map)

  individualID specimenID
1 R9996478     SM-CJFME
2 R9991313     SM-CTDUE
3 R9976232     SM-CTDS5
4 R9974729     SM-CJK4P
5 R9958949     SM-CJEGN
6 R9950567     SM-CTDTE

[1] 1174

In [4]:
pca=read.csv('/project/ritchie02/projects/AD_KMI/common_var_gene_score/igap_rosmap_gene_score/rosmap_pca/pca_output/rosmap_gene_score.projected_onto_1KG.eigenvec_cleaned',
             sep='\t')
head(pca)

  ID          PC1     PC2     PC3    PC4    PC5     PC6     PC7     PC8
1 MAP15387421 -0.0109 -0.0272 0.0094 0.0171 -0.0040 -0.0089 -0.0128 -0.0154
2 MAP22868024 -0.0108 -0.0274 0.0066 0.0154 -0.0120 -0.0091 -0.0019 -0.0207
3 MAP26637867 -0.0113 -0.0270 0.0086 0.0153  0.0138 -0.0038  0.0012 -0.0277
4 MAP29629849 -0.0113 -0.0275 0.0093 0.0146 -0.0046 -0.0085 -0.0033 -0.0249
5 MAP33332646 -0.0113 -0.0273 0.0084 0.0144  0.0007 -0.0109 -0.0054 -0.0342
6 MAP34726040 -0.0111 -0.0268 0.0088 0.0155 -0.0031 -0.0067 -0.0091 -0.0362
  PC9     PC10    STUDY
1  0.0090 -0.0140 ROSMAP
2  0.0148 -0.0132 ROSMAP
3  0.0062 -0.0138 ROSMAP
4 -0.0018 -0.0141 ROSMAP
5  0.0027 -0.0094 ROSMAP
6  0.0087 -0.0105 ROSMAP

# map IDs

In [5]:
pheno_id=merge(pheno,id_map,by='individualID')
nrow(pheno_id)
nrow(pheno)
nrow(id_map)
head(pheno_id)

[1] 1174

[1] 3584

[1] 1174

  individualID projid   Study msex educ race spanish apoe_genotype
1 R1012422     20925446 ROS   0    14   1    2       33
2 R1015854     45115248 MAP   0    16   1    2       33
3 R1017692     20787136 ROS   0    16   1    2       33
4 R1018391     50103381 MAP   1    16   1    2       34
5 R1020037     20154287 ROS   0    20   1    2       23
6 R1022980     30819298 MAP   0    10   1    2       33
  age_at_visit_max   age_first_ad_dx   age_death
1 87.501711156741962 NA                87.55099247091033
2 86.811772758384663 NA                87.115674195756327
3 74.135523613963045 NA                75.019849418206704
4 89.639972621492134 NA                90+
5 89.073237508555778 87.00342231348391 90+
6 89.111567419575636 NA                89.900068446269685
  cts_mmse30_first_ad_dx cts_mmse30_lv pmi      braaksc ceradsc cogdx dcfdx_lv
1 NA                     14            3.000000 4       2       4     4
2 NA                     26            4.633333 2       4       2     2
3 NA                     27            4.000000 4       1       2     4
4 NA                     29            5.416667 4       2       2     2
5 28                     26            2.750000 3       4       2     2
6 NA                      8            8.083333 3       3       4     4
  specimenID
1 SM-CTEMF
2 SM-CTDQP
3 SM-CJFP9
4 SM-CJIXL
5 SM-CJEJ2
6 SM-CTEMK

# drop other dementias and recode sex column

In [6]:
pheno_no_other_dementia=pheno_id%>%
filter(cogdx!=6)%>%
rename('SEX'='msex')%>%
mutate(SEX=gsub(0,2,SEX))
nrow(pheno_no_other_dementia)
unique(pheno_no_other_dementia$cogdx)
unique(pheno_no_other_dementia$SEX)
head(pheno_no_other_dementia)

[1] 1152

[1] 4 2 1 3 5

[1] "2" "1"

  individualID projid   Study SEX educ race spanish apoe_genotype
1 R1012422     20925446 ROS   2   14   1    2       33
2 R1015854     45115248 MAP   2   16   1    2       33
3 R1017692     20787136 ROS   2   16   1    2       33
4 R1018391     50103381 MAP   1   16   1    2       34
5 R1020037     20154287 ROS   2   20   1    2       23
6 R1022980     30819298 MAP   2   10   1    2       33
  age_at_visit_max   age_first_ad_dx   age_death
1 87.501711156741962 NA                87.55099247091033
2 86.811772758384663 NA                87.115674195756327
3 74.135523613963045 NA                75.019849418206704
4 89.639972621492134 NA                90+
5 89.073237508555778 87.00342231348391 90+
6 89.111567419575636 NA                89.900068446269685
  cts_mmse30_first_ad_dx cts_mmse30_lv pmi      braaksc ceradsc cogdx dcfdx_lv
1 NA                     14            3.000000 4       2       4     4
2 NA                     26            4.633333 2       4       2     2
3 NA                     27            4.000000 4       1       2     4
4 NA                     29            5.416667 4       2       2     2
5 28                     26            2.750000 3       4       2     2
6 NA                      8            8.083333 3       3       4     4
  specimenID
1 SM-CTEMF
2 SM-CTDQP
3 SM-CJFP9
4 SM-CJIXL
5 SM-CJEJ2
6 SM-CTEMK

# see how many people have 5

In [20]:
pheno_no_other_dementia%>%
filter(grepl(5,cogdx))%>%
nrow()

[1] 58

# define whether dead or alive

In [7]:
pheno_no_other_dementia%>%
filter(!is.na(age_death))%>%
nrow()
nrow(pheno_no_other_dementia)

[1] 1152

[1] 1152

In [8]:
pheno_no_other_dementia%>%
filter(!is.na(cogdx))%>%
nrow()
nrow(pheno_no_other_dementia)

[1] 1152

[1] 1152

everyone is dead RIP

# define cases and controls

use cogdx to define phenotype bc everyone is dead RIP

In [9]:
case=pheno_no_other_dementia%>%
filter(cogdx==4 | cogdx==5)%>%
mutate(ALZ_STATUS=1)
nrow(case)
unique(case$cogdx)
head(case)

[1] 489

[1] 4 5

  individualID projid   Study SEX educ race spanish apoe_genotype
1 R1012422     20925446 ROS   2   14   1    2       33
2 R1022980     30819298 MAP   2   10   1    2       33
3 R1028639     46000440 MAP   1   16   1    2       34
4 R1039781     50302428 MAP   2   12   1    2       33
5 R1042011     20532115 ROS   2   17   1    2       23
6 R1074668     21000180 ROS   2   16   1    2       33
  age_at_visit_max   age_first_ad_dx    age_death
1 87.501711156741962 NA                 87.55099247091033
2 89.111567419575636 NA                 89.900068446269685
3 88.703627652292951 88.703627652292951 89.642710472279262
4 84.312114989733061 NA                 84.665297741273108
5 89.505817932922653 88.511978097193705 89.727583846680361
6 90+                90+                90+
  cts_mmse30_first_ad_dx cts_mmse30_lv pmi      braaksc ceradsc cogdx dcfdx_lv
1 NA                     14.0000       3.000000 4       2       4     4
2 NA                      8.0000       8.083333 3       3       4     4
3 19                     19.0000       6.916667 4       1       4     4
4 NA                     18.0000       3.000000 5       1       4     4
5 24                     23.7931       5.266667 2       4       4     2
6 21                     23.0000       4.850000 3       2       4     4
  specimenID ALZ_STATUS
1 SM-CTEMF   1
2 SM-CTEMK   1
3 SM-CTDQV   1
4 SM-CJK5Q   1
5 SM-CJK5G   1
6 SM-CJK5F   1

In [10]:
control=pheno_no_other_dementia%>%
filter(cogdx==1 | cogdx==2 | cogdx==3)%>%
mutate(ALZ_STATUS=0)
nrow(control)
unique(control$cogdx)

[1] 663

[1] 2 1 3

# define age

## case

In [11]:
case_age_first_dx=case%>%
filter(!is.na(age_first_ad_dx))%>%
mutate(AGE=age_first_ad_dx)%>%
mutate(AGE=str_replace(AGE,'90\\+','90'))%>%
mutate(AGE=as.numeric(AGE))%>%
select(individualID,specimenID,ALZ_STATUS,AGE,SEX)
nrow(case_age_first_dx)
head(case_age_first_dx)
summary(case_age_first_dx$AGE)

[1] 366

  individualID specimenID ALZ_STATUS AGE      SEX
1 R1028639     SM-CTDQV   1          88.70363 1
2 R1042011     SM-CJK5G   1          88.51198 2
3 R1074668     SM-CJK5F   1          90.00000 2
4 R1088362     SM-CJFMH   1          85.52225 2
5 R1103580     SM-CTDSF   1          89.37988 2
6 R1113373     SM-CJEHX   1          83.78097 2

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  68.93   83.70   87.42   86.08   90.00   90.00

In [12]:
case_age_visit_max=case%>%
filter(is.na(age_first_ad_dx))%>%
mutate(AGE=age_at_visit_max)%>%
mutate(AGE=str_replace(AGE,'90\\+','90'))%>%
mutate(AGE=as.numeric(AGE))%>%
select(individualID,specimenID,ALZ_STATUS,AGE,SEX)
nrow(case_age_visit_max)
head(case_age_visit_max)
summary(case_age_visit_max$AGE)

[1] 123

  individualID specimenID ALZ_STATUS AGE      SEX
1 R1012422     SM-CTEMF   1          87.50171 2
2 R1022980     SM-CTEMK   1          89.11157 2
3 R1039781     SM-CJK5Q   1          84.31211 2
4 R1141019     SM-CTEEC   1          90.00000 2
5 R1154454     SM-CTDQN   1          86.12183 1
6 R1177802     SM-CJFMK   1          90.00000 1

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  69.73   83.18   88.33   86.38   90.00   90.00

In [13]:
case_age_all=rbind(case_age_first_dx,case_age_visit_max)
nrow(case_age_all)

[1] 489

## control

In [14]:
control_age_death=control%>%
mutate(AGE=age_death)%>%
mutate(AGE=str_replace(AGE,'90\\+','90'))%>%
mutate(AGE=as.numeric(AGE))%>%
select(individualID,specimenID,ALZ_STATUS,AGE,SEX)
nrow(control_age_death)
head(control_age_death)
summary(control_age_death$AGE)

[1] 663

  individualID specimenID ALZ_STATUS AGE      SEX
1 R1015854     SM-CTDQP   0          87.11567 2
2 R1017692     SM-CJFP9   0          75.01985 2
3 R1018391     SM-CJIXL   0          90.00000 1
4 R1020037     SM-CJEJ2   0          90.00000 2
5 R1034846     SM-CJFKJ   0          87.34292 2
6 R1042566     SM-CTEDG   0          89.22108 2

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  65.99   83.54   88.29   86.19   90.00   90.00

# recombine case and control dataframes

In [15]:
case_control=rbind(case_age_all,control_age_death)
nrow(case_control)

[1] 1152

# clean PCA df

In [16]:
head(pca)

  ID          PC1     PC2     PC3    PC4    PC5     PC6     PC7     PC8
1 MAP15387421 -0.0109 -0.0272 0.0094 0.0171 -0.0040 -0.0089 -0.0128 -0.0154
2 MAP22868024 -0.0108 -0.0274 0.0066 0.0154 -0.0120 -0.0091 -0.0019 -0.0207
3 MAP26637867 -0.0113 -0.0270 0.0086 0.0153  0.0138 -0.0038  0.0012 -0.0277
4 MAP29629849 -0.0113 -0.0275 0.0093 0.0146 -0.0046 -0.0085 -0.0033 -0.0249
5 MAP33332646 -0.0113 -0.0273 0.0084 0.0144  0.0007 -0.0109 -0.0054 -0.0342
6 MAP34726040 -0.0111 -0.0268 0.0088 0.0155 -0.0031 -0.0067 -0.0091 -0.0362
  PC9     PC10    STUDY
1  0.0090 -0.0140 ROSMAP
2  0.0148 -0.0132 ROSMAP
3  0.0062 -0.0138 ROSMAP
4 -0.0018 -0.0141 ROSMAP
5  0.0027 -0.0094 ROSMAP
6  0.0087 -0.0105 ROSMAP

In [17]:
pca_sub=pca%>%
select(ID,PC1,PC2,PC3,PC4)%>%
rename('specimenID'='ID')
head(pca_sub)

  specimenID  PC1     PC2     PC3    PC4
1 MAP15387421 -0.0109 -0.0272 0.0094 0.0171
2 MAP22868024 -0.0108 -0.0274 0.0066 0.0154
3 MAP26637867 -0.0113 -0.0270 0.0086 0.0153
4 MAP29629849 -0.0113 -0.0275 0.0093 0.0146
5 MAP33332646 -0.0113 -0.0273 0.0084 0.0144
6 MAP34726040 -0.0111 -0.0268 0.0088 0.0155

# add PCs

In [18]:
pheno_pca=merge(case_control,pca_sub,by='specimenID')
head(pheno_pca)
nrow(pheno_pca)

  specimenID  individualID ALZ_STATUS AGE      SEX PC1     PC2     PC3
1 MAP15387421 R2398607     1          90.00000 2   -0.0109 -0.0272 0.0094
2 MAP22868024 R9255058     0          90.00000 1   -0.0108 -0.0274 0.0066
3 MAP26637867 R5225865     0          90.00000 2   -0.0113 -0.0270 0.0086
4 MAP29629849 R5379193     1          85.16632 2   -0.0113 -0.0275 0.0093
5 MAP33332646 R6998518     1          84.25462 2   -0.0113 -0.0273 0.0084
6 MAP34726040 R1326552     0          72.82683 1   -0.0111 -0.0268 0.0088
  PC4
1 0.0171
2 0.0154
3 0.0153
4 0.0146
5 0.0144
6 0.0155

[1] 1152

# export

In [19]:
write.table(pheno_pca,'/project/ritchie02/projects/AD_KMI/common_var_gene_score/igap_rosmap_gene_score/ROSMAP_phenotype_covariates.txt',
            sep='\t',
            col.names=T,
            row.names=F,
            quote=F)